.code-bg {
  background: url("../../images//code.png");
  background-repeat: no-repeat;
  background-position: cover;
}

@media only screen and (min-width: 520px) {
  .neon6 {
    margin-top: -200px;
  }
  .tab {
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 520px) {
  .tab {
    text-decoration: none;
    color: white;
    padding: 10px;

  }
}

.joinUs {
  background-color: #0b2d7594;
}
/* .tab {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-right: 80px;
} */
.marginTop {
  margin-top: 150px;
}
.top-border {
  border-top: 4px solid white;
  width: 90%;
}
