.code-bg {
  background: url("../../images//code.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

@media only screen and (min-width: 520px) {
  .neon6 {
    margin-top: -200px;
  }

  .tab {
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 80px;
  }

  .MarginTop {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 520px) {
  .tab {
    text-decoration: none;
    color: white;
    padding: 10px;

  }
}
@media only screen and (min-width: 992px) {
  .code-bg{
    margin-right: 8%;
  }
}

.joinUs {
  background-color: #0b2d7594;
}

/* Animation border */

.animate-border {
  position: relative;
  display: block;
  width: 90%;
  height: 4px;
  background: rgba(128, 128, 128, 0.431);
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 45px;
  height: 5px;
  left: 0;
  bottom: 0;
  border-left: 20px solid white;
  -webkit-animation: animborder 3s linear infinite;
  animation: animborder 3s linear infinite;
}


@media only screen and (max-width: 425px) {
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(181px);
      transform: translateX(181px);
    }
  }

  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(181px);
      transform: translateX(181px);
    }
  }
}

@media only screen and (min-width: 426px) {
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(481px);
      transform: translateX(481px);
    }
  }

  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(481px);
      transform: translateX(481px);
    }
  }
}

@media only screen and (min-width: 1441px) {
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(681px);
      transform: translateX(681px);
    }
  }

  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: translateX(681px);
      transform: translateX(681px);
    }
  }
}