.header-bg {
  height: auto;
  background-image: url("../../../images/bg-Img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;

}

@media only screen and (max-width: 520px) {
  .top-header-text {
    color: #ffffff;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
  }

  .line-div {
    display: none;
  }

  .banner-text {
    margin-left: -20px;
  }

  .social-icons {
    position: fixed;
    z-index: 3;
    left: 80%;
  }
}

@media only screen and (min-width: 520px) {
  .top-header-text {
    font-weight: 900;
    font-size: 49px;
    line-height: 69px;
    color: #ffffff;
    text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
  }

  .bitcoin-Img {
    padding-left: 100px;
  }
  .explore-btn {
    margin-top: 100px;
  }
}

.social-icons {
  position: fixed;
  top: 35%;
  z-index: 3;

}

.social-icon {
  padding-bottom: 45px;
}



.bitcoin-bg {
  background-image: url("../../../images/Frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.bitcoin-Img {
  padding-top: 100px;
}


@media only screen and (min-width: 520px) {
  .box {
    padding-left: 20px;
    padding-top: 10px;
  }

  .stepper {
    padding-left: 45px;
    margin-top: 200px;
  }
}

@media only screen and (max-width: 425px) {
  .box {
    padding-left: 10px;
    padding-top: 10px;
  }

  .stepper {
    padding-left: 35px;
    margin-top: 100px;
  }
  .explore-btn {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 520px) {
  .bitcoin-Img {
    padding: 40px;
  }
  
}

@media only screen and (max-width: 375px) {
  .top-header-text{
    font-size: 30px;
    padding-left: 10px;
    margin-top: -20px;
  }
  .stepper {
    display: none;
  }
  .box{
    display: none;
  }
  .explore-btn {
    margin-top: 50px;
  }
}

.btn-transform-effect :hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.icon-transform-effect :hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.img-transform-effect :hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.wave-bg {
  background-image: url("../../../images/Hero\ Waves.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

.wave-height {
  height: 100px;
}

.top-wave {
  transform: rotate(180deg);
  height: 50px;
}