.header-bg {
  height: auto;
  background-image: url("../../images/bg-Img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
    padding-left: 20px;
    padding-top: 10px;
}
.stepper{
    padding-left: 45px;
    margin-top: 200px;
}