.audit {
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #4effbf;
}
.marginTop {
  margin-top: 166px;
}

@media only screen and (min-width: 520px) {
  .neon2 {
    position: relative;
    bottom: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .neon2 {
    position: relative;
    bottom: 100px;
  }
}
