.navbar-bg {
  padding-bottom: 20px;
  background-image: url("../../../images/Header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: auto;
  z-index: 3;
  background-color: #03205f;
}
@media only screen and (max-width: 1441px) {
  #nav-padding{
    padding: 1.1rem;
  }
}
@media only screen and (min-width: 1441px) {
  #nav-padding{
    padding: 2.3rem;
  }
}
.brand-name {
  font-weight: 600;
  font-size: 37px;
  text-decoration: none;
  padding-left: 20px;
}

.tabStyle {
  margin-right: 25px;
}
.tabStyle :hover{
  transform: scale(1.1);
  transition-duration: 2s;
}
