.navbar-bg {
  padding-bottom: 20px;
  background-image: url("../../../images/Header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: auto;
  z-index: 3;
  background-color: #03205f;
}
.brand-name {
  font-weight: 600;
  font-size: 37px;
  text-decoration: none;
  margin-right: 130px;
}

.tabStyle {
  margin-right: 25px;
}
