.client-review {
  font-weight: 500;
  font-size: 28px;
  line-height: 65px;
  color: #618dff;
}

.review-card {
  background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.38%, rgba(255, 255, 255, 0.0312) 70.38%);
  backdrop-filter: blur(18px);
  border-radius: 15px;
  border-bottom: 3px solid rgba(245, 245, 245, 0.431);
  border-left: 2px solid rgba(245, 245, 245, 0.431);
  border-right: 2px solid rgba(245, 245, 245, 0.431);
  border-top: 1px solid rgba(245, 245, 245, 0.082);
  border-radius: 15px;
  margin-top: 50px;
}

.textWhite {
  color: rgba(255, 255, 255, 0.582);
}

.neon7 {
  margin-top: -150px;
}

@media only screen and (max-width: 768px) {
  .review-card {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .second-review {
    height: 410px;
    position: relative;
    bottom: 33px;
  }

  .first-review {
    position: relative;
    left: 50px;
  }

  .third-review {
    position: relative;
    right: 50px;
  }

  .second {
    z-index: 3;
  }
}